<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :related_link %>
    <%= form.text_field :related_link %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :sub_title %>
    <%= form.text_field :sub_title %>
  </div>

  <div class="field">
    <%= form.label :current_price %>
    <%= form.text_field :current_price %>
  </div>

  <div class="field">
    <%= form.label :previous_price %>
    <%= form.text_field :previous_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
